services:
  bove_app:
    build: .
    ports:
      - "8000:8000"
    environment:
      SERVER_HOST: ${SERVER_HOST}
      SERVER_PORT: ${SERVER_PORT}

      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - db_network

    #volumes:  # Для загрузки файлов вовремя разработки, на продакшене не нужен
    #  - .:/app:delegated

    #uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    command: gunicorn --bind "${SERVER_HOST}:${SERVER_PORT}" --workers 4 --worker-class uvicorn.workers.UvicornWorker main:app


  postgres:
    image: postgres:16.4
    restart: always
    shm_size: 128mb
    ports:
      - "5433:5432"
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - db_network

  pgadmin:
    image: dpage/pgadmin4:9.8
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
    volumes:
      - ./pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
    networks:
      - db_network

networks:
  db_network:
    driver: bridge